.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border-radius: 50%;
    width: 6em;
}

.nav-items {
    display: flex;
    list-style: none;
}

.nav-items > li {
    padding-left: 2em;
}

.icon {
    display: flex;
    margin: 1em;
}

.card {
    border: 1px dotted black;
    width: 14rem;
    margin: 10px;
    padding: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}
.card > img {
    width: 100%;
}